<a href="javascript:;" class="btn-back" (click)="dismiss()">
	<img src="assets/img/id101-back02.png" alt="Ionic">
</a>
<ion-content>
	<div class="page-employer-profile " *ngIf="dataProfileDetail" [ngClass]="{'subs-ver':isSubcription}">
		<div class="moon-slides">
			<ion-slides pager >
				<ion-slide *ngFor="let slide of employerProfile.photos; let index = index">
					<div class="small-piece"  [ngClass]="{'diff-ver': index!==0}">
						<div class="top-info mix-xy" >
							<div>
								<h1>{{slide.url}}</h1>
								<p>{{slide.description}}</p>
							</div>
						</div>
						<!-- end /top-info -->
						<div class="bottom-img">
							<img [src]="slide.url" alt="Ionic" [ngClass]="{'big-logo': index===0, 'same-size': index!==0}">
						</div>
						<!-- end /bottom-img -->
					</div>
					<!-- end /small-piece -->
				</ion-slide>
			</ion-slides>
			<div class="group-curve">
					<svg class="main-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 50.01"><defs></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1 cls-2" d="M0,0C200.12,98.53,375,0,375,0V195H.12Z"/></g></g></svg>
				</div>
		</div>
		<!-- end /moon-slides -->
		<div class="mainn-content">
			<div class="part-one">
				<div class="group-info">
					<span class="text01">{{employerProfile.businessName}} <img src="assets/img/social-tick.png" alt="Ionic"></span>
					<!--span class="text02">{{dataProfileDetail.description}}</span-->
					<span class="text03"><img src="assets/img/id101-loca.png" alt="Ionic"> {{employerProfile.offices[0] ? employerProfile.offices[0].address.locality.locality : ''}}, {{employerProfile.offices[0] ? employerProfile.offices[0].address.locality.state : ''}} </span>
					<span class="text04"><img src="assets/img/id101-clock.png" alt="Ionic"> {{dataProfileDetail.dateOpen}}</span>
				</div>
				<!-- end /group-info -->
				<div class="group-admin">
					<div class="top-title">
						<img src="assets/img/id101-chat.png" alt="Ionic">
						<span class="name">ADMINISTRATORS</span>
						<div class="clear"></div>
					</div>
					<!-- end /top-title -->
					<div class="bottom-info">
						<ul class="gen01">
							<li class="gen-child01 ver-y" *ngFor="let item of employerProfile.officeManagers">
								<img class="little-line" src="assets/img/id101-line.png" alt="Ionic">
								<span class="title">{{item.firstName + ' ' + item.lastName}}</span>
								<a href="javascript:;" class="iclose">
									<img class="little-line" src="assets/img/id101-close.png" alt="Ionic">
								</a>
							</li>
						</ul>
						<!-- end /gen01 -->
					</div>
					<!-- end /bottom-info -->
				</div>
				<!-- end /group-admin -->
				<div class="group-loca">
					<div class="map-here">
						<div class="map" #mapElement [style.height.px]="181.67"></div>
					</div>
					<!-- end /map-here -->

					<a href="javascript:;" class="btn-edit mix-xy">
						<img src="assets/img/id101-edit.png" alt="Ionic">
					</a>
				</div>
				<!-- end /group-loca -->
			</div>
			<!-- end /part-one -->
			<div class="part-two">
				<div class="top-title">
					<img src="assets/img/id101-mem.png" alt="Ionic">
					<span class="name">About Us</span>
					<div class="clear"></div>
				</div>
				<!-- end /top-title -->
				<div class="group-description">
					<p>{{employerProfile.officeCultureDescription}}</p>
				</div>
				<!-- end /group-description -->
			</div>
			<!-- end /part-two -->
			<div class="part-three">
				<div class="top-title">
					<img src="assets/img/id101-chat.png" alt="Ionic">
					<span class="name">Recent Reviews</span>
					<div class="clear"></div>
				</div>
				<!-- end /top-title -->
				<div class="bottom-feedback">
					<ul class="gen01">
						<li class="gen-child01" *ngFor="let item of dataProfileDetail.recentReviews">
							<div class="about-acc">
								<div class="left-group">
									<div class="your-ava">
										<img [src]="item.avata" alt="Ionic">
										<span class="point"></span>
									</div>
								</div>
								<!-- end /left-group -->
								<div class="right-group ver-y">
									<div>
									<div class="name-star">
										<p>Kylie Bourne</p>
										<ul class="gen02 ver-y">
											<li class="gen-child02" *ngIf="item.rate >= 1">
												<img src="assets/img/id101-star01.png" alt="Ionic">
											</li>
											<li class="gen-child02" *ngIf="item.rate >= 2">
												<img src="assets/img/id101-star01.png" alt="Ionic">
											</li>
											<li class="gen-child02" *ngIf="item.rate >= 3">
												<img src="assets/img/id101-star01.png" alt="Ionic">
											</li>
											<li class="gen-child02" *ngIf="item.rate >= 4">
												<img src="assets/img/id101-star01.png" alt="Ionic">
											</li>
											<li class="gen-child02" *ngIf="item.rate >= 5">
												<img src="assets/img/id101-star01.png" alt="Ionic">
											</li>
										</ul>
										<div class="clear"></div>
									</div>
									<span class="jobs">{{item.status}}</span>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<!-- end /about-acc -->
							<div class="about-feedback">
								<p>{{item.desc}}</p>
								<img src="assets/img/id101-triangle.png" alt="Ionic">
							</div>
							<!-- end /about-feedback -->
						</li>
					</ul>
				</div>
				<!-- end /bottom-feedback -->
			</div>
			<!-- end /part-three -->
			<div class="part-four">
				<div class="list-members">
					<div class="top-title">
						<img src="assets/img/id101-chat.png" alt="Ionic">
						<span class="name">EXTERNAL ENDORSEMENTS</span>
						<div class="clear"></div>
					</div>
					<!-- end /top-title -->
					<div class="bottom-members">
						<div class="wrapper-all">
							<a href="javascript:;" class="btn-total mix-xy" *ngIf="!isShowVMExternal" (click)="isShowVMExternal=true">+{{dataProfileDetail.externalFriends.length-7}}</a>
							<ul class="gen01" *ngIf="!isShowVMExternal">
								<li class="gen-child01" *ngFor="let item of dataProfileDetail.externalFriends; let i=index;" 
								[ngClass]="{hide:i>=7}" [ngStyle]="{'z-index':dataProfileDetail.externalFriends.length+i,'left':'-'+(15*i)+'px'}">
									<img [src]="item.avata" alt="Ionic" >
								</li>
							</ul>
							<slick-carousel class="carousel gen01" typeSlick="endorsement" *ngIf="isShowVMExternal">
								<div slick-carousel-item  *ngFor="let item of dataProfileDetail.externalFriends">
									<li class="gen-child01">
										<img [src]="item.avata" alt="Ionic" >
									</li>
								</div>
							</slick-carousel>
							<div class="clear"></div>
						</div>
						<!-- end /wrapper-all -->
						<div class="clear"></div>
					</div>
					<!-- end /bottom-members -->
				</div>
				<!-- end /list-members -->
				<div class="list-members clone">
					<div class="top-title">
						<img src="assets/img/id101-chat.png" alt="Ionic">
						<span class="name">INTERNAL ENDORSEMENTS</span>
						<div class="clear"></div>
					</div>
					<!-- end /top-title -->
					<div class="bottom-members">
						<div class="wrapper-all">
							<a href="javascript:;" class="btn-total mix-xy" *ngIf="!isShowVMInternal" (click)="isShowVMInternal=true">+{{dataProfileDetail.internalFriends.length-7}}</a>
							<ul class="gen01" *ngIf="!isShowVMInternal">
								<li class="gen-child01" *ngFor="let item of dataProfileDetail.internalFriends; let i=index;" 
								[ngClass]="{hide:i>=7}" [ngStyle]="{'z-index':dataProfileDetail.internalFriends.length+i,'left':'-'+(15*i)+'px'}">
									<img [src]="item.avata" alt="Ionic" >
								</li>
							</ul>
							<slick-carousel class="carousel gen01" typeSlick="endorsement" *ngIf="isShowVMInternal">
								<div slick-carousel-item  *ngFor="let item of dataProfileDetail.internalFriends">
									<li class="gen-child01">
										<img [src]="item.avata" alt="Ionic" >
									</li>
								</div>
							</slick-carousel>
							<div class="clear"></div>
						</div>
						<!-- end /wrapper-all -->
						<div class="clear"></div>
					</div>
					<!-- end /bottom-members -->
				</div>
				<!-- end /list-members -->
				<a href="javascript:;" class="btn-edit mix-xy">Add Endorsement</a>
				<div class="contact-us">
					<ul class="gen01">
						<li class="gen-child01 ver-y">
							<img class="iphone" src="assets/img/id101-phone.png" alt="Ionic">
							<span class="text" (click)="callThePerson(employerProfile.contactPhone)">{{employerProfile.contactPhone}}</span>
							<input class="write-here" type="text" name="Phone" [(ngModel)]="employerProfile.contactPhone">
							<a href="javascript:;" class="edit-me">
								<img src="assets/img/id101-edit.png" alt="Ionic">
							</a>
						</li>
						<li class="gen-child01 ver-y">
							<img class="imail" src="assets/img/id101-mail.png" alt="Ionic">
							<a class="text" [href]="'mailto:'+employerProfile.contactEmail" target="_top">{{employerProfile.contactEmail}}</a>
							<input class="write-here" type="text" name="Email" [(ngModel)]="employerProfile.contactEmail">
							<a href="javascript:;" class="edit-me">
								<img src="assets/img/id101-edit.png" alt="Ionic">
							</a>
						</li>
						<li class="gen-child01 ver-y">
							<img class="iglobal" src="assets/img/id101-global.png" alt="Ionic">
							<span class="text" (click)="openURL(employerProfile.website)">{{employerProfile.website}}</span>
							<input class="write-here" type="text" name="Web" [(ngModel)]="employerProfile.website">
							<a href="javascript:;" class="edit-me">
								<img src="assets/img/id101-edit.png" alt="Ionic">
							</a>
						</li>
					</ul>
				</div>
				<!-- end /contact-us -->
			</div>
			<!-- end /part-four -->
			<div class="part-five">
				<div class="technologies-used">
					<div class="top-title">
						<img src="assets/img/id101-chat.png" alt="Ionic">
						<span class="name">TECHNOLOGIES USED</span>
						<div class="clear"></div>
					</div>
					<!-- end /top-title -->
					<div class="bottom-info">
						<ul class="gen01">
							<li class="gen-child01 ver-y" *ngFor="let item of dataProfileDetail.technolegies">
								<img src="assets/img/id101-line.png" alt="Ionic">
								<span class="title">{{item.name}}</span>
							</li>
						</ul>
					</div>
					<!-- end /bottom-info -->
				</div>
				<!-- end /technologies-used -->
				<div class="technologies-used detal-trainnings">
					<div class="top-title">
						<img src="assets/img/id101-chat.png" alt="Ionic">
						<span class="name">DENTAL PHILOSOPHIES/TRAININGS</span>
						<div class="clear"></div>
					</div>
					<!-- end /top-title -->
					<div class="bottom-info">
						<ul class="gen01">
							<li class="gen-child01 ver-y" *ngFor="let item of dataProfileDetail.dentalPhil">
								<img src="assets/img/id101-line.png" alt="Ionic">
								<span class="title">{{item.name}}</span>
							</li>
						</ul>
					</div>
					<!-- end /bottom-info -->
				</div>
				<!-- end /technologies-used -->
				<div class="technologies-used structure" *ngIf="dataChart">
					<div class="top-title">
						<img src="assets/img/icons8-Genealogy-64.png" alt="Ionic">
						<span class="name">ORGANIZATIONAL STRUCTURE</span>
						<div class="clear"></div>
					</div>
					<!-- end /top-title -->
					<div class="bottom-info">
						<div class="chart-container">
							<div class="row first-floor">
								<div class="block">
									<input type="text" class="organization" [(ngModel)]="dataChart.name" disabled>
								</div>
							</div>
							<div class="row second-floor">
								<div class="col" *ngFor="let branch of dataChart.branches; let first = first; let last = last">
									<div class="header-row">
										<div class="block ">
											<input type="text" class="organization" placeholder="Add Title" [(ngModel)]="branch.name">
										</div>
									</div>
									<div class="row third-floor">
										<div class="col" *ngFor="let group of branch.sections">
											<div class="block">
												<input type="text" class="organization" [(ngModel)]="group.name" disabled>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end /bottom-info -->
				</div>
				<!-- end /technologies-used -->
				<div class="technologies-used positions">
					<div class="top-title">
						<img src="assets/img/id101-chat.png" alt="Ionic">
						<span class="name">POSITIONS</span>
						<div class="clear"></div>
					</div>
					<!-- end /top-title -->
					<div class="bottom-info">
						<ul class="gen01">
							<li class="gen-child01 ver-y" *ngFor="let item of dataProfileDetail.position">
								<img src="assets/img/id101-line.png" alt="Ionic">
								<span class="title">{{item.name}}</span>
							</li>
						</ul>
					</div>
					<!-- end /bottom-info -->
				</div>
				<!-- end /technologies-used -->
				<div class="bottom-logo">
					<img src="assets/img/id101-logo.png" alt="Ionic">
				</div>
				<!-- end /bottom-logo -->
			</div>
			<!-- end /part-five -->
		</div>
		<!-- end /mainn-content -->
	</div>
	<!-- end /menu-page -->
</ion-content>
<!-- end /ion-content -->

<div class="beautiful-buttons">
	<ion-fab left bottom edge>
		<button ion-fab mini><img src="assets/img/id101-circle01.png" alt="Ionic"></button>
		<ion-fab-list side="top">
			<button ion-fab>Request Endorsement</button>
			<button ion-fab (click)="showModalShareFunc()">Share Profile</button>
		</ion-fab-list>
	</ion-fab>
	<ion-fab left bottom edge>
		<button ion-fab mini><img src="assets/img/id101-circle02.png" alt="Ionic"></button>
	</ion-fab>
	<ion-fab left bottom edge>
		<button ion-fab mini><img src="assets/img/id101-circle03.png" alt="Ionic"></button>
	</ion-fab>
</div>
<!-- end /beautiful-buttons -->
