swagger: '2.0'
info:
  title: ODM Application REST API
  description: |
    REST API for the ODM Application.
  version: 1.0.0
host: sample.odm.com
schemes:
  - https
basePath: /api/v1
produces:
  - application/json
securityDefinitions:
  Bearer:
    description: >
      For accessing the API a valid JWT token must be passed in all the queries
      in

      the 'Authorization' header.


      A valid JWT token is generated by the API and retourned as answer of a
      call

      to the route /login giving a valid user & password.
    type: apiKey
    name: Authorization
    in: header
paths:
  /login:
    post:
      summary: Login
      description: >
        Login using email and password. It does not require authentication
        header(Bearer).
      tags:
        - Security
      parameters:
        - in: body
          name: loginRequest
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                description: The username
                type: string
              password:
                description: The password
                type: string
      responses:
        '200':
          description: The operation succeeded. The User will be returned.
          schema:
            type: object
            allOf:
              - $ref: '#/definitions/User'
              - properties:
                  token:
                    type: string
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '409':
          description: the username does not match the password.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /signup:
    post:
      summary: Create User.
      description: |
        Create User.
      tags:
        - User
        - Security
      parameters:
        - name: user
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: The response identifying success.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /logout:
    post:
      summary: Log out.
      description: |
        Logging out. It requires authentication header(Bearer).
      tags:
        - Security
      responses:
        '200':
          description: The operation succeeded.
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/userEmail/{email}/verify':
    get:
      summary: verify email.
      description: |
        verify email.
      tags:
        - User
        - Security
      parameters:
        - name: email
          in: path
          description: The email
          required: true
          type: string
        - name: verificationToken
          in: query
          description: The verification token
          required: true
          type: string
      responses:
        '200':
          description: The operation succeeded.
          schema:
            type: string
            format: boolean
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /auth/facebook:
    get:
      summary: Login with Facebook
      description: |
        Login using Facebook.
      tags:
        - Security
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /auth/google:
    get:
      summary: Login with Google
      description: |
        Login using Google.
      tags:
        - Security
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /auth/linkedIn:
    get:
      summary: Login with LinkedIn
      description: |
        Login using LinkedIn.
      tags:
        - Security
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /users:
    get:
      summary: Search Users.
      description: |
        Search Users.
      tags:
        - User
      security:
        - Bearer: []
      parameters:
        - $ref: '#/parameters/pageIndex'
        - $ref: '#/parameters/pageSize'
        - name: username
          in: query
          description: The username
          required: false
          type: string
        - name: email
          in: query
          description: an email
          required: false
          type: string
      responses:
        '200':
          description: The operation succeeded. The search result will be returned.
          schema:
            type: object
            properties:
              metadata:
                $ref: '#/definitions/Metadata'
              items:
                type: array
                items:
                  $ref: '#/definitions/User'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/users/{id}':
    put:
      summary: Update User. User password is updated in a separate method.
      description: |
        update User.
      security:
        - Bearer: []
      tags:
        - User
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            $ref: '#/definitions/User'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      summary: Get the User.
      description: |
        retrieve User.
      security:
        - Bearer: []
      tags:
        - User
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/User'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /currentUser:
    get:
      security:
        - Bearer: []
      summary: Get current User.
      description: |
        retrieve User.
      tags:
        - User
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/User'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /updatePassword:
    put:
      security:
        - Bearer: []
      summary: Update user password.
      description: |
        update User password.
      tags:
        - User
        - Security
      parameters:
        - name: password update
          in: body
          description: The password update
          required: true
          schema:
            $ref: '#/definitions/PasswordUpdate'
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/User'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /employeeProfiles:
    post:
      security:
        - Bearer: []
      summary: Create EmployeeProfile.
      description: |
        Create EmployeeProfile.
      tags:
        - EmployeeProfile
      parameters:
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/EmployeeProfile'
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/EmployeeProfile'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Get EmployeeProfile by user id.
      description: |
        Get EmployeeProfile.
      tags:
        - EmployeeProfile
      parameters:
        - name: userId
          in: query
          description: The entity ID
          required: false
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            $ref: '#/definitions/EmployeeProfile'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
  '/employeeProfiles/{id}':
    put:
      security:
        - Bearer: []
      summary: Update EmployeeProfile.
      description: |
        Update EmployeeProfile.
      tags:
        - EmployeeProfile
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/EmployeeProfile'
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            $ref: '#/definitions/EmployeeProfile'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Get EmployeeProfile.
      description: |
        Get EmployeeProfile.
      tags:
        - EmployeeProfile
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            $ref: '#/definitions/EmployeeProfile'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    delete:
      security:
        - Bearer: []
      summary: Delete EmployeeProfile
      description: |
        Delete EmployeeProfile.
      tags:
        - EmployeeProfile
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /employerProfiles:
    post:
      security:
        - Bearer: []
      summary: Create EmployerProfile.
      description: |
        Create EmployerProfile.
      tags:
        - EmployerProfile
      parameters:
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/EmployerProfile'
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/EmployerProfile'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Get EmployerProfile by user id.
      description: |
        Get EmployerProfile.
      tags:
        - EmployerProfile
      parameters:
        - name: userId
          in: query
          description: The entity ID
          required: false
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            $ref: '#/definitions/EmployerProfile'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/employerProfiles/{id}':
    put:
      security:
        - Bearer: []
      summary: Update EmployerProfile.
      description: |
        Update EmployerProfile.
      tags:
        - EmployerProfile
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/EmployerProfile'
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            $ref: '#/definitions/EmployerProfile'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Get EmployerProfile.
      description: |
        Get EmployerProfile.
      tags:
        - EmployerProfile
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/EmployerProfile'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    delete:
      security:
        - Bearer: []
      summary: Delete EmployerProfile
      description: |
        Delete EmployerProfile.
      tags:
        - EmployerProfile
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /employerSearchFilters:
    post:
      security:
        - Bearer: []
      summary: Create EmployerSearchFilter.
      description: |
        Create EmployerSearchFilter.
      tags:
        - EmployerSearchFilter
      parameters:
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/EmployerSearchFilter'
      responses:
        '200':
          description: The operation succeeded. The created entity will be returned.
          schema:
            $ref: '#/definitions/EmployerSearchFilter'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Search EmployerSearchFilters.
      description: |
        Search EmployerSearchFilters.
      tags:
        - EmployerSearchFilter
      parameters:
        - $ref: '#/parameters/pageIndex'
        - $ref: '#/parameters/pageSize'
        - name: userId
          in: query
          description: The owner ID
          required: false
          type: integer
          format: int64
        - name: name
          in: query
          description: The name of the filter
          required: false
          type: string
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            type: object
            properties:
              metadata:
                $ref: '#/definitions/Metadata'
              items:
                type: array
                items:
                  $ref: '#/definitions/EmployerSearchFilter'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/employerSearchFilters/{id}':
    put:
      security:
        - Bearer: []
      summary: Update EmployerSearcFilter
      description: |
        Update EmployerSearchFilter.
      tags:
        - EmployerSearchFilter
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/EmployerSearchFilter'
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            $ref: '#/definitions/EmployerSearchFilter'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Get EmployerSearchFilter.
      description: |
        Get EmployerSearchFilter.
      tags:
        - EmployerSearchFilter
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/EmployerSearchFilter'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    delete:
      security:
        - Bearer: []
      summary: Delete EmployerSearchFilter
      description: |
        Delete EmployerSearchFilter.
      tags:
        - EmployerSearchFilter
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/employerSearchFilters/{id}/use':
    put:
      security:
        - Bearer: []
      summary: Use EmployerSearchFilter to search for EmployerProfiles.
      description: |
        Use EmployerSearchFilter.
      tags:
        - EmployerProfile
        - EmployerSearchFilter
      parameters:
        - $ref: '#/parameters/pageIndex'
        - $ref: '#/parameters/pageSize'
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entities will be returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/EmployerProfile'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /employeeSearchFilters:
    post:
      security:
        - Bearer: []
      summary: Create EmployeeSearchFilter.
      description: |
        Create EmployeeSearchFilter.
      tags:
        - EmployeeSearchFilter
      parameters:
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/EmployeeSearchFilter'
      responses:
        '200':
          description: The operation succeeded. The created entity will be returned.
          schema:
            $ref: '#/definitions/EmployeeSearchFilter'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Search EmployeeSearchFilters.
      description: |
        Search EmployeeSearchFilter.
      tags:
        - EmployeeSearchFilter
      parameters:
        - $ref: '#/parameters/pageIndex'
        - $ref: '#/parameters/pageSize'
        - name: userId
          in: query
          description: The owner ID
          required: false
          type: integer
          format: int64
        - name: name
          in: query
          description: The name of the filter
          required: false
          type: string
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            type: object
            properties:
              metadata:
                $ref: '#/definitions/Metadata'
              items:
                type: array
                items:
                  $ref: '#/definitions/EmployeeSearchFilter'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/employeeSearchFilters/{id}':
    put:
      security:
        - Bearer: []
      summary: Update EmployeeSearcFilter
      description: |
        Update EmployeeSearchFilter.
      tags:
        - EmployeeSearchFilter
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/EmployeeSearchFilter'
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            $ref: '#/definitions/EmployeeSearchFilter'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Get EmployeeSearchFilter.
      description: |
        Get EmployeeSearchFilter.
      tags:
        - EmployeeSearchFilter
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/EmployeeSearchFilter'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    delete:
      security:
        - Bearer: []
      summary: Delete EmployeeSearchFilter
      description: |
        Delete EmployeeSearchFilter.
      tags:
        - EmployeeSearchFilter
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/employeeSearchFilters/{id}/use':
    put:
      security:
        - Bearer: []
      summary: Use EmployeeSearchFilter to search for EmployeeProfiles.
      description: |
        Use EmployeeSearchFilter.
      tags:
        - EmployeeProfile
        - EmployeeSearchFilter
      parameters:
        - $ref: '#/parameters/pageIndex'
        - $ref: '#/parameters/pageSize'
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entities will be returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/EmployerProfile'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /employeeBenches:
    post:
      security:
        - Bearer: []
      summary: Create EmployeeBench.
      description: |
        Create EmployeeBench.
      tags:
        - EmployeeBench
      parameters:
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/EmployeeBench'
      responses:
        '200':
          description: The operation succeeded. The created entity will be returned.
          schema:
            $ref: '#/definitions/EmployeeBench'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Search EmployeeBenches.
      description: |
        Search EmployeeBench.
      tags:
        - EmployeeBench
      parameters:
        - name: userId
          in: query
          description: The owner ID
          required: false
          type: integer
          format: int64
        - name: name
          in: query
          description: The name of the filter
          required: false
          type: string
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/EmployeeBench'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/employeeBenches/{id}':
    put:
      security:
        - Bearer: []
      summary: Update EmployeeBench
      description: |
        Update EmployeeBench.
      tags:
        - EmployeeBench
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/EmployeeBench'
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            $ref: '#/definitions/EmployeeBench'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Get EmployeeBench.
      description: |
        Get EmployeeBench.
      tags:
        - EmployeeBench
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/EmployeeBench'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    delete:
      security:
        - Bearer: []
      summary: Delete EmployeeBench
      description: |
        Delete EmployeeBench.
      tags:
        - EmployeeBench
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/employeeBenches/{benchId}/employer/{employerId}':
    put:
      security:
        - Bearer: []
      summary: Add Employer to the EmployeeBench
      description: |
        Add Employer to the EmployeeBench.
      tags:
        - EmployeeBench
      parameters:
        - name: benchId
          in: path
          description: The bench ID
          required: true
          type: integer
          format: int64
        - name: employerId
          in: path
          description: The employer ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Delete Employer from the EmployeeBench
      description: |
        Delete Employer from the EmployeeBench.
      tags:
        - EmployeeBench
      security:
        - Bearer: []
      parameters:
        - name: benchId
          in: path
          description: The bench ID
          required: true
          type: integer
          format: int64
        - name: employerId
          in: path
          description: The employer ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /employerBenches:
    post:
      security:
        - Bearer: []
      summary: Create EmployerBench.
      description: |
        Create EmployerBench.
      tags:
        - EmployerBench
      parameters:
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/EmployerBench'
      responses:
        '200':
          description: The operation succeeded. The created entity will be returned.
          schema:
            $ref: '#/definitions/EmployerBench'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Search EmployerBenches.
      description: |
        Search EmployerBench.
      tags:
        - EmployerBench
      parameters:
        - name: userId
          in: query
          description: The owner ID
          required: false
          type: integer
          format: int64
        - name: name
          in: query
          description: The name of the bench
          required: false
          type: string
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/EmployerBench'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/employerBenches/{id}':
    put:
      security:
        - Bearer: []
      summary: Update EmployerBench
      description: |
        Update EmployerBench.
      tags:
        - EmployerBench
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/EmployerBench'
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            $ref: '#/definitions/EmployerBench'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Get EmployerBench.
      description: |
        Get EmployerBench.
      tags:
        - EmployerBench
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/EmployeeBench'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    delete:
      security:
        - Bearer: []
      summary: Delete EmployerBench
      description: |
        Delete EmployerBench.
      tags:
        - EmployerBench
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/employerBenches/{benchId}/employee/{employeeId}':
    put:
      security:
        - Bearer: []
      summary: Add Employee to the EmployerBench
      description: |
        Add Employee to the EmployerBench
      tags:
        - EmployerBench
      parameters:
        - name: benchId
          in: path
          description: The bench ID
          required: true
          type: integer
          format: int64
        - name: employeeId
          in: path
          description: The employee ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    delete:
      security:
        - Bearer: []
      summary: Delete Employee from the Employer Bench
      description: |
        Delete Employee from the EmployerBench.
      tags:
        - EmployerBench
      parameters:
        - name: benchId
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
        - name: employeeId
          in: path
          description: The employer ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /likeDislikes:
    post:
      security:
        - Bearer: []
      summary: Create LikeDislike entity.
      description: |
        Create LikeDislike.
      tags:
        - LikeDislike
      parameters:
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/LikeDislike'
      responses:
        '200':
          description: The operation succeeded. The created entity will be returned.
          schema:
            $ref: '#/definitions/LikeDislike'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Search LikeDislikes.
      description: |
        Search LikeDislikes.
      tags:
        - LikeDislike
      parameters:
        - name: requestorUserId
          in: query
          description: The requestor owner ID
          required: false
          type: integer
          format: int64
        - name: targetUserId
          in: query
          description: The target owner ID
          required: false
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/LikeDislike'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/likeDislike/{id}':
    delete:
      security:
        - Bearer: []
      summary: Delete LikeDislike
      description: |
        Delete LikeDislike.
      tags:
        - LikeDislike
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Get LikeDislike.
      description: |
        Get LikeDislike.
      tags:
        - LikeDislike
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/LikeDislike'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/matches/{id}':
    get:
      security:
        - Bearer: []
      summary: Get Match.
      description: |
        Get Match.
      tags:
        - Match
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/Match'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /matches:
    get:
      security:
        - Bearer: []
      summary: Get all matches for user id.
      description: |
        Get Matches.
      tags:
        - Match
      parameters:
        - name: userId
          in: query
          description: The user ID
          required: false
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/Match'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/benchMatches/{id}':
    get:
      security:
        - Bearer: []
      summary: Get BenchMatch.
      description: |
        Get BenchMatch.
      tags:
        - BenchMatch
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/BenchMatch'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /benchMatches:
    get:
      security:
        - Bearer: []
      summary: Get all BenchMatches for user id.
      description: |
        Get BenchMatches.
      tags:
        - BenchMatch
      parameters:
        - name: userId
          in: query
          description: The user ID
          required: false
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/Match'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /questions:
    get:
      summary: Get questions by type.
      description: |
        Search Messages.
      tags:
        - Question
      parameters:
        - name: type
          in: query
          description: The question type
          required: true
          type: string
      responses:
        '200':
          description: The operation succeeded. The entities will be returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/Question'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /notifications:
    get:
      security:
        - Bearer: []
      summary: Search Notification.
      description: |
        Search Notifications.
      tags:
        - Notification
      parameters:
        - name: recipientId
          in: query
          description: The recipient ID
          required: true
          type: integer
          format: int64
        - name: startDate
          in: query
          description: The start date
          required: false
          type: string
          format: date
        - name: endDate
          in: query
          description: The end date
          required: false
          type: string
          format: date
        - name: status
          in: query
          description: The status
          required: false
          type: string
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/Notification'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/notifications/{id}':
    get:
      security:
        - Bearer: []
      summary: Get Notification.
      description: |
        Get Notifiation.
      tags:
        - Notification
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/Notification'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /interviews:
    post:
      security:
        - Bearer: []
      summary: Create Interview entity.
      description: |
        Create Interview.
      tags:
        - Interview
      parameters:
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/Interview'
      responses:
        '200':
          description: The operation succeeded. The created entity will be returned.
          schema:
            $ref: '#/definitions/Interview'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Search Interview.
      description: |
        Search Interviews.
      tags:
        - Interview
      parameters:
        - name: targetUserId
          in: query
          description: The target owner ID
          required: true
          type: integer
          format: int64
        - name: requestorUserId
          in: query
          description: The requestor ID
          required: true
          type: integer
          format: int64
        - name: startDate
          in: query
          description: The start date
          required: false
          type: string
          format: date
        - name: endDate
          in: query
          description: The end date
          required: false
          type: string
          format: date
        - name: status
          in: query
          description: The status
          required: false
          type: string
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/Interview'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/interviews/{id}':
    get:
      security:
        - Bearer: []
      summary: Get Interview.
      description: |
        Get Interview.
      tags:
        - Interview
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The entity will be returned.
          schema:
            $ref: '#/definitions/Interview'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    put:
      security:
        - Bearer: []
      summary: Update Interview
      description: |
        Update Interview.
      tags:
        - Interview
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/Interview'
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            $ref: '#/definitions/Interview'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: NOT FOUND - if the resource in request did not exist
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    delete:
      security:
        - Bearer: []
      summary: Delete Interview
      description: |
        Delete Interview.
      tags:
        - Interview
      parameters:
        - name: id
          in: path
          description: The entity ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  /friendships:
    post:
      security:
        - Bearer: []
      summary: Create Friendship entity.
      description: |
        Create Friendship.
      tags:
        - Friendship
      parameters:
        - name: entity
          in: body
          description: The entity
          required: true
          schema:
            $ref: '#/definitions/Friendship'
      responses:
        '200':
          description: The operation succeeded. The created entity will be returned.
          schema:
            $ref: '#/definitions/Friendship'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
    get:
      security:
        - Bearer: []
      summary: Search Friendship.
      description: |
        Search Friendships.
      tags:
        - Friendship
      parameters:
        - name: targetUserId
          in: query
          description: The target owner ID
          required: true
          type: integer
          format: int64
        - name: requestorUserId
          in: query
          description: The requestor ID
          required: true
          type: integer
          format: int64
        - name: startDate
          in: query
          description: The start date
          required: false
          type: string
          format: date
        - name: endDate
          in: query
          description: The end date
          required: false
          type: string
          format: date
        - name: status
          in: query
          description: The status
          required: false
          type: string
      responses:
        '200':
          description: The operation succeeded. The updated entity will be returned.
          schema:
            type: array
            items:
              $ref: '#/definitions/Friendship'
        '400':
          description: >-
            BAD REQUEST - if there was problem with the request (e.g. malformed
            or some parameters are missing)
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: >-
            NOT AUTHORIZED - if the request didn't bear authentication
            information or the authentication information is invalid.
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            FORBIDDEN - if the requesting user didn't have permission to perform
            the requested operation
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: >-
            INTERNAL SERVER ERROR - if the request was properly formatted, but
            the operation failed on the server side
          schema:
            $ref: '#/definitions/Error'
  '/friendships/{id}':
    get:
      security:
        - Bearer: []
      summary: Get Friendship.
[...]
