page-setting {

	ion-content {
		// Unique
		.hol-x {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
		.ver-y {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
		.mix-xy {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}

		// Welcome Page
		.welcome-page {
			width: 100%;
			height: 100vh;
			background-image: url(../assets/img/bgc.png);
			background-size: cover;
			position: relative;
			* {
				font-family: 'Myriad Pro';
				font-weight: normal;
			}
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background : rgba(44, 62, 80, 0.84);
				position: absolute;
				top: 0;
				left: 0;
			}

			.main-logo {
				display: block;
				width: 142px;
				height: auto;
				margin: 0 auto 110px;
				background-size: cover;
				position: relative;
				z-index: 10;
			}
			.group-btn {
				position: relative;
				z-index: 10;
				.twin {
					display: block;
					width: 160px;
					height: 40px;
					font-size: 15px;
					color: #446DB3;;
					text-align: center;
					margin: 0 auto 20px;
					border-radius: 20px;
					background-color: #fff;
					&.signup {
						color: #fff;
						background : -moz-linear-gradient(0% 50% 0deg,rgba(0, 196, 255, 1) 0%,rgba(0, 187, 255, 1) 19.98%,rgba(0, 161, 255, 1) 53.2%,rgba(0, 120, 255, 1) 95.33%,rgba(0, 115, 255, 1) 100%);
						background : -webkit-linear-gradient(0deg, rgba(0, 196, 255, 1) 0%, rgba(0, 187, 255, 1) 19.98%, rgba(0, 161, 255, 1) 53.2%, rgba(0, 120, 255, 1) 95.33%, rgba(0, 115, 255, 1) 100%);
						background : linear-gradient(90deg, rgba(0, 196, 255, 1) 0%, rgba(0, 187, 255, 1) 19.98%, rgba(0, 161, 255, 1) 53.2%, rgba(0, 120, 255, 1) 95.33%, rgba(0, 115, 255, 1) 100%);
					}
				}
			}
		}

	}
}